/* RHUM
 * STYLUS Document
 * (useful bourbon's mixins, and more...)
 */

font-face( $font-family, $file-path, $weight = normal, $style = normal, $no-woff = false )
    @font-face
        font-family: $font-family
        font-weight: $weight
        font-style: $style

        src: url( $file-path + '.eot' )
        if( $no-woff )
            src: url( $file-path + '.eot?#iefix' ) format( 'embedded-opentype' ),
                 url( $file-path + '.ttf' ) format( 'truetype' ),
                 url( $file-path + '.svg#' + $font-family ) format( 'svg' )
        else
            src: url( $file-path + '.eot?#iefix' ) format( 'embedded-opentype' ),
                 url( $file-path + '.woff' ) format( 'woff' ),
                 url( $file-path + '.ttf' ) format( 'truetype' ),
                 url( $file-path + '.svg#' + $font-family ) format( 'svg' )

breakpoint( $medium = "screen", $first-feature = false, $first-value = false, $second-feature = false, $second-value = false, $third-feature = false, $third-value = false, $fourth-feature = false, $fourth-value = false )
    $query = $medium
    if( $first-feature and $first-value )
        $query += " and (" + $first-feature + ": " + $first-value + ")"
    if( $second-feature and $second-value )
        $query += " and (" + $second-feature + ": " + $second-value + ")"
    if( $third-feature and $third-value )
        $query += " and (" + $third-feature + ": " + $third-value + ")"
    if( $fourth-feature and $fourth-value )
        $query += " and (" + $fourth-feature + ": " + $fourth-value + ")"
    return $query

// cf. https://github.com/LearnBoost/stylus/issues/745#issuecomment-20310430

bIsOldIE ?= false

rpx = 0.1rem
rpx = 1px if bIsOldIE

// media queries with fallback

media( $query )
    if bIsOldIE
        {block}
    else
        @media $query
            {block}
