doctype html
html( lang="fr_BE" )
    head
        meta( charset="utf-8" )/

        title PROJECT NAME

        meta( name="viewport", content="width=device-width, initial-scale=1.0" )/

        link( rel="author", href="/humans.txt" )/

        link( rel="stylesheet", href="/css/styles.min.css" )/

    body

        h1 PROJECT NAME

        h2 Hello world !
